<div class="container py-5">
    <h1 class="text-center font-weight-bolder display-5">Create New Account</h1>
  
    <%= simple_form_for :session do |f| %>
    <%= f.input :name, label: 'Your Full name please', error: 'Fullname is mandatory, please specify one' %>
    <%= f.input :username, label: 'Your username please', error: 'Username is mandatory, please specify one' %>
    <%= f.button :submit, "Sign up", class: "btn btn-success w-100" %>
    <% end %>
</div>